/* base styles shared with SDK and PowerShell  docsets */
body {
    font-family: "Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #000;
}

/* basic page layout container panels */
#regionDisclaimer {
    padding-top:12px;
    padding-bottom: 8px;    
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
    display: none;
}

#regionDisclaimer p {
    padding-bottom: 0 !important;
    color: #CC6600 !important;
}

#pageHeader {
    padding-top:4px;
    padding-bottom: 4px;  
    border-bottom: 2px solid #bbb;
    margin-bottom: 4px;
	position:relative;
}

#pageHeader #titles {
}

#titles h1 {
    color:#000;
    font-size: 2.1em;    
    font-weight:normal;
	margin-top:8px;
}

#titles h2 {
    color:#000;
    font-size: 0.9em;    
    font-weight:normal;
    text-transform: uppercase;  
	margin-top:0;
	margin-bottom:0;
}

#pageToolbar {
    padding-top:2px;
    padding-bottom: 2px;
    position: relative;
    top: 2px;
    left: 0;   
}

/* search box and components */
#search {
    float: right;
}

#search #sfrm {
    background-color: #F7F7F7;
    border: 1px solid #F0F0F0;
    height: 33px;
    padding: 0;
    width: 480px;
}

#sfrm #lbl {
    margin-left: 4px;
}

#sfrm #sq {
    margin-left: 4px;
    width: 180px;
}

#sfrm #sb {
    position: relative;
    top: 5px;
}

#pageContent {
    clear: both;    
    padding-top:10px;
    padding-bottom: 0;    
}

#pageFooter {
    padding-top:8px;
    padding-bottom: 4px;
    border-top: 2px solid #bbb;
    position: relative;
}

#pageFooter #copyright {
}

#pageFooter .linkto {
}

#pageFooter .divider {
	border-right-color:#bbb;
    border-right-width:2px;
    border-right-style:solid;
    margin-left: 4px;
    margin-right: 4px;
}

#pageFooter .feedback {
}          

#pageFooter .feedbackLinks > a {
    color:#1364c4;
}

/* used by indexer */
#product_name, #guide_name { display: none;}

.newline { clear:both; }

#summaryblock { margin-top: 15px; }

a { text-decoration: none; }

p {
    color: #2a2a2a;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    line-height: 18px;
}

td,th {
    border-bottom: 1px solid #dbdbdb;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

th {
    background-color: #ededed;
    color: #707070;
    text-align: left;
}

th.iconColumn {
    width: 60px;
}

th.nameColumn {
    width: 340px;
}

th.typeColumn {
    width: 200px;
}

th.descriptionColumn {
    
}

td {
    color: #2a2a2a;
    vertical-align: top;
}

table p {
    padding-bottom: 0;
}

div#pageContent table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

div#pageContent table, div#pageContent th,div#pageContent td {
    border: 1px solid #bbb;
}

table.members {
    width: 100%;
}

table.members td {
    min-width: 72px;
}

table.members img {
    border: 0 none;
}

.noteblock {
    margin-top: 8px;
    margin-bottom: 8px;    
}

.noteheader {
    color: #5d5d5d;
    font-size: 13px;
    font-weight: bold;
}

.verticalSep {
	margin-left:8px;
	margin-right:0;
	border-left-color:#bbb;
    border-left-width:2px;
    border-left-style:solid;
}

/* section layout */
.collapsibleSection {
    
}

.collapsibleSection .title {
    font-family:"Segoe UI SemiBold","Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;     
    line-height: 1.35;
    font-size: 1.5em;
    color:#333;
}

.sectionbody {
    padding-left: 15px;
    display: block;
    padding-bottom: 20px;
}

.subHeading {
}

.sectionbody ol {
    list-style-type: decimal;
}

.sectionbody ol ol {
    list-style-type: lower-alpha;
}

.sectionbody ol ol ol {
    list-style-type: lower-roman;
}

/* Misc stuff */
strong, .label {
    font-size: 13px;
    color: #5d5d5d;
    font-weight:bold;
}

.expanded {
    background: transparent url(imagesprite.png) -192px -48px no-repeat;
    width:16px;
}


