img#awslogo {
    background: transparent url(../resources/imagesprite.png) 0 -60px no-repeat;
    width: 200px;
    height: 30px;
    display: block;
    border: 0 none;
    margin: 8px 4px 4px 8px;
}

#skipToMain {
    position: absolute;
    z-index: -1;
    top: -40px;
}

#skipToMain:focus {
    z-index: 500;
    top: 10px;
}

div#toc {
    padding-left: 3px;
    width: auto;
    background-color:#fff;    
    font-family: "Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #000;
}

.awstoc {
    margin: 0;
    padding-left: 10px;
}

.awstoc li {
    padding-top: 5px;
    cursor: pointer;
    background-color: #fff;
}

.awstoc ul {
    display: none;
}

.awstoc ul.expanded {
    display: block;
}

.awstoc li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.awstoc li.expanded {    
    display: inline-block;
}

.awstoc li button {
    background: url('toggle-small-expand.png') no-repeat;
    cursor: pointer;
    border: none;
    height: 11px;
}

.awstoc li.expanded button {
    background: url('toggle-small.png') no-repeat;
    height: 9px;
    width: 9px;
    padding: 0;
}

.awstoc li.leaf {
    list-style-type: none;
    cursor: auto;
    margin-left: -13px;
}

.awstoc a.activeTopic {
    color: black;
    cursor: default;
    font-weight: bold;
    outline: medium none;
    text-decoration: none;
}

.awstoc *::-moz-selection {
    text-decoration: none;
}
