img#awslogo {
    background: transparent url(../resources/imagesprite.png) 0 -60px no-repeat;
    width:200px;
    height:30px;
    display: block;
    border: 0 none;
    margin:8px 4px 4px 8px;
}

div#toc {
    padding-left: 15px;
    width: auto;
    background-color:#fff;    
    font-family: "Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #000;
}

.awstoc {
    margin:0;
    padding-left:10px;
}

.awstoc li {
    padding-top:5px;
    cursor:pointer;
    background-color:#fff;
}

.awstoc ul {
    display: none;
}

.awstoc ul.expanded {
    display: block;
}

.awstoc li {
    list-style-image:url('toggle-small-expand.png');
}

.awstoc li.expanded {
    list-style-image:url('toggle-small.png');
}

.awstoc li.leaf{
    list-style-image:url('blank.gif');
    cursor:auto;
	margin-left:-25px;
}

.awstoc a.nav {
    text-decoration: none;
}

.awstoc a.activeTopic {
    color: black;
    cursor: default;
    font-weight: bold;
    outline: medium none;
    text-decoration: none;
}

.awstoc *::-moz-selection {
    text-decoration: none;
}
