<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <style media="screen" type="text/css">
        body {
            font-family: verdana, Arial, Helvetica, sans-serif;
        }

        code {
            font-family: consolas, courier;
        }

        pre {
            font-size: 1.3em;
            margin-left: 3em;
            color: mediumblue;
            background-color: rgb(225,225,225);
        }

  </style>

  <title>API Reference Home | AWS SDK for .NET V3</title>

  <meta http-equiv="Content-Type" content= "text/html; charset=us-ascii">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <meta name="description" content=
  "Get started quickly using AWS with the AWS SDK for .NET. The SDK helps take the complexity out of coding by providing .NET APIs for many AWS services including Amazon S3, Amazon EC2, DynamoDB and more. The single, downloadable package includes the AWS Toolkit for Microsoft Visual Studio, Visual Studio project templates, the AWS Tools for Windows PowerShell, the AWS .NET Library, C# code samples, and documentation.">
  <meta name="keywords" content="">

  <link rel="icon" type="image/ico" href="../favicon.ico">
  <link rel="shortcut icon" type="image/ico" href="../favicon.ico">
  <link rel="canonical" href="http://docs.aws.amazon.com/sdkfornet/latest/apidocs/items/sdk-api-home.html">
  <link rel="stylesheet" type="text/css" href="../resources/style.css">
  <link rel="stylesheet" type="text/css" href="../resources/sdkstyle.css">

    <!-- BEGIN-URCHIN-TRACKER -->
  <script type="text/javascript" src="https://media.amazonwebservices.com/amznUrchin.js"> </script>
    <!-- END-URCHIN-TRACKER -->
</head>

<body id="top" class="yui-skin-sam noJS">
    
    <!-- used by search indexer -->
    <div id="product_name">AWS SDK Version 3 for .NET</div>
    <div id="guide_name">API Reference</div>
    
    <div id="divContent">
        
        <!--REGION_DISCLAIMER_DO_NOT_REMOVE-->   
        <!-- BEGIN-SECTION -->
        <div id="regionDisclaimer">{regionDisclaimer}</div>
        <!-- END-SECTION --> 

        <div class="chapter" id="sdkref-welcome">
            
            <div id="pageHeader">
                <div id="titles">
                    <h1 class="title">AWS SDK for .NET Version 3 API Reference</h1>
                </div>    
            </div>
            
            <div id="pageToolbar">
                <!-- BEGIN-SECTION -->
                <div id="search">
                    <form action="/search/doc-search.html" target="_blank" onsubmit="return AWSHelpObj.searchFormSubmit(this);" method="get">
                        <div id="sfrm">
                            <span id="lbl">
                                <label>Search: </label>
                            </span>
                            <select name="searchPath" id="sel">
                                <option value="all">Entire Site</option>
                                <option value="articles">Articles &amp; Tutorials</option>
                                <option value="documentation">Documentation</option>
                                <option value="documentation-product">Documentation - This Product</option>
                                <option selected="" value="documentation-guide">Documentation - This Guide</option>
                                <option value="releasenotes">Release Notes</option>
                                <option value="code">Sample Code &amp; Libraries</option>
                            </select>
                            <input type="text" name="searchQuery" id="sq">
                            <input type="image" alt="Go" src="../resources/search-button.png" id="sb">
                        </div>
                        <input id="this_doc_product" type="hidden" value="AWS SDK Version 2 for .NET" name="this_doc_product">
                        <input id="this_doc_guide" type="hidden" value="API Reference" name="this_doc_guide">
                        <input type="hidden" value="en_us" name="doc_locale">
                    </form>
                </div>
                <!-- END-SECTION -->
            </div>
                    
            <div id="pageContent">
                <p>The AWS SDK for .NET makes it easier for Windows developers to build .NET applications that tap into the cost-effective, scalable, and reliable AWS infrastructure 
                    services such as Amazon Simple Storage Service (Amazon S3) and Amazon Elastic Compute Cloud (Amazon EC2).</p>
                <p>The AWS SDK for .NET supports development on any platform that supports the .NET Framework 3.5 (or later).</p>
                <p></p>

                <div class="section">
                    <div class="titlepage">

                        <div>
                            <div>
                                <h2 class="title" style="clear: both" id="d0e153">
                                    Additional Information
                                </h2>
                            </div>
                        </div>
        
                    </div>

                    <p>These pages contain additional information about the AWS SDK for .NET and using .NET to access AWS:</p>

                    <div class="variablelist">
                        <dl>
                            <dt>
                                <span class="term">
                                    <a class="link" href="http://aws.amazon.com/developers/getting-started/net/" target="_blank" title="Getting Started with the AWS SDK for .NET">
                                        Getting Started with the AWS SDK for .NET
                                    </a>
                                </span>
                            </dt>

                            <dd>
                                <p>
                                    This section describes the fundamentals of obtaining the installer (containing
                                    the AWS SDK for .NET, Microsoft Visual Studio toolkit and AWS Tools for Windows PowerShell),
                                    configuring AWS access keys, and getting started with a sample project.
                                </p>
                            </dd>  

                            <dt>
                                <span class="term">
                                    <a class="link" href="http://docs.aws.amazon.com/mobile/sdkforunity/developerguide/getting-started-unity.html" target="_blank" title="Getting Started with the AWS SDK for Unity">
                                        Getting Started with the AWS SDK for Unity
                                    </a>
                                </span>
                            </dt>

                            <dd>
                                <p>
                                    This page provides you with an overview of each AWS service in the AWS SDK for Unity, as well as instructions on how to set up Unity samples.
                                </p>
                            </dd>

                            <dt>
                                <span class="term">
                                    <a class="link" href="http://docs.aws.amazon.com/mobile/sdkforxamarin/developerguide/getting-started-xamarin.html" target="_blank" title="Getting Started with the AWS SDK for Xamarin">
                                        Getting Started with the AWS SDK for Xamarin
                                    </a>
                                </span>
                            </dt>

                            <dd>
                                <p>
                                    This page contains resources for setting up the AWS SDK for Xamarin and incorporating AWS into your mobile applications.
                                </p>
                            </dd>
                        
                            <dt>
                                <span class="term">
                                    <a class="link" href="http://docs.aws.amazon.com/AWSSdkDocsNET/latest/V3/DeveloperGuide/net-dg-programming-techniques.html" target="_blank" title="Programming AWS">
                                        Programming AWS
                                    </a>
                                </span>
                            </dt>

                            <dd>
                                <p>General programming techniques and information for developing software with the AWS SDK for .NET</p>
                            </dd>  

                            <dt>
                                <span class="term">
                                    <a class="link" href="http://blogs.aws.amazon.com/net/" target="_blank" title="AWS Developer Blog - Windows and .NET">
                                        AWS Developer Blog - Windows and .NET
                                    </a>
                                </span>
                            </dt>

                            <dd>
                                <p>Developer blog for the AWS SDK for .NET, Visual Studio toolkit and AWS Tools for Windows PowerShell.</p>
                            </dd>

                            <dt>
                                <span class="term">
                                    <a class="link" href="http://mobile.awsblog.com/" target="_blank" title="AWS Developer Blog - Mobile">
                                        AWS Developer Blog - Mobile
                                    </a>
                                </span>
                            </dt>

                            <dd>
                                <p>Developer blog for AWS Mobile Development, including the Xamarin and Unity SDKs.</p>
                            </dd>

                            <dt>
                                <span class="term">
                                    <a class="link" href="../v3-migration.html" target="_blank" title="V3 Migration Guide">
                                        V3 Migration Guide
                                    </a>
                                </span>
                            </dt>

                            <dd>
                                <p>Guide to help developers move their applications from version 2 to version 3 of the AWS SDK for .NET.</p>
                            </dd>

                            <dt>
                                <span class="term">
                                    <a class="link" href="../unity-v3-migration.html" target="_blank" title="Unity V3 Migration Guide">
                                        Unity V3 Migration Guide
                                    </a>
                                </span>
                            </dt>

                            <dd>
                                <p>Guide to help developers move their applications from version 2 to version 3 of the AWS SDK for Unity.</p>
                            </dd> 
                        </dl>
                    </div>

                </div>
            </div>
        </div>

        <div id="pageFooter">
            <div id="copyright"></div>
            <!-- BEGIN-FEEDBACK-SECTION -->
            <div class="newline feedback">
                <div class="feedbackLinks">Did this page help you?&nbsp;&nbsp;<a href="http://docs.aws.amazon.com/sdkfornet/latest/apidocs/feedbackyes.html?topic_id=sdk-api-home" target="_blank">Yes</a>&nbsp;&nbsp;<a href="http://docs.aws.amazon.com/sdkfornet/latest/apidocs/feedbackno.html?topic_id=sdk-api-home" target="_blank">No</a>&nbsp;&nbsp;&nbsp;<a href="https://aws-portal.amazon.com/gp/aws/html-forms-controller/documentation/aws_doc_feedback_04?service_name=NET-Ref-V3&amp;file_name=sdk-api-home" target="_blank">Tell us about it...</a>
                </div>
            </div>
            <!-- END-FEEDBACK-SECTION -->
        </div>

    </div>

    <script type="text/javascript" src="../resources/jquery.min.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript" src="../resources/parseuri.js"></script>
    <script type="text/javascript" src="../resources/pagescript.js"></script>
    <script type="text/javascript">AWSHelpObj.setCopyrightText();</script>
    <!-- BEGIN-SECTION -->
    <script type="text/javascript">
        jQuery(function ($) {
            var host = parseUri($(window.parent.location).attr('href')).host;
            if (AWSHelpObj.showRegionalDisclaimer(host)) {
                $("div#regionDisclaimer").css("display", "block");
            } else {
                $("div#regionDisclaimer").remove();
            }
        });
    </script>
    <!-- END-SECTION -->

    <noscript>

        <div class="yui-b" style="padding: 20px; padding-top: 0;">
            <div class="yui-ge">
                <div class="yui-u first">
                    <div id="error_messages">
                        <!-- BEGIN-SECTION -->      
                        <img src="https://d1ge0kk1l5kms0.cloudfront.net/images/G/01/webservices/console/warning.png" style="float: left;" alt="Warning">
                        <!-- END-SECTION -->
                        <div style="float:left; margin-left: 1em;">
                            <strong>Javascript is disabled or is unavailable in your browser.</strong>
                            <br>
                            To use the AWS Documentation, Javascript must be enabled. Please
                            refer to your browser's Help pages for instructions.
                        </div>

                        <div style="clear: both;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </noscript>

    <!-- SiteCatalyst code version: H.25.2.
        Copyright 1996-2012 Adobe, Inc. All Rights Reserved
        More info available at http://www.omniture.com -->

    <script language="JavaScript"
            type="text/javascript" src= "https://media.amazonwebservices.com/js/sitecatalyst/s_code.min.js">
    </script>


    <script language="JavaScript" type="text/javascript">
<!--

        // Documentation Service Name
        s.prop66='AWS SDK for .NET v3';
        s.eVar66='D=c66';
  
        // Documentation Guide Name                                                                 
        s.prop65 = 'API Reference';
        s.eVar65='D=c65';

        var s_code=s.t();if(s_code)document.write(s_code)
        //-->
    </script>


    <script language="JavaScript" type="text/javascript">
<!--
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        //-->
    </script>


    <noscript>
        <img src="http://amazonwebservices.d2.sc.omtrdc.net/b/ss/awsamazondev/1/H.25.2--NS/0" height="1" width="1" border="0" alt="">
    </noscript>

    <!--/DO NOT REMOVE/-->
    <!-- End SiteCatalyst code version: H.25.2. -->
</body>
</html>
