######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user

####################
# Build/Test folders
####################

**/bin/
**/obj/
**/TestResults/
**/Temp/
**/NuGet.exe
**/buildlogs/

sdk/packages/**
sdk/test/PCLTests/AndroidTests/packages/**

Deployment/**

**/*.userprefs
