######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user

####################
# Build/Test folders
####################

**/bin/
**/obj/
**/TestResults/
**/Temp/
**/NuGet.exe
**/buildlogs/

sdk/packages/**
sdk/test/PCLTests/AndroidTests/packages/**
sdk/.vs/**

**/fxcop-report-*.xml

docgenerator/.vs/**

Deployment/**
DocDeployment/**
DocBuildAssemblies/**
Include/**

**/*.userprefs
/sdk/test/CrossPlatformTests/CommonTests/Resources/settings.json
packages
/sdk/xamarin-components/SimpleNotificationService/*.xam
/sdk/xamarin-components/CognitoIdentity/*.xam
/sdk/xamarin-components/DynamoDBv2/*.xam
/sdk/xamarin-components/MobileAnalytics/*.xam
/sdk/xamarin-components/S3/*.xam
