<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Validation" version="2.0.6.15003" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="1.3.3.6323" targetFramework="xamarinios10" />
</packages>