<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSLogging" value="SystemDiagnostics"/>
    <add key="AWSLogMetrics" value="true"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sharedListeners>     
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener"
           traceOutputOptions="DateTime"/>
    </sharedListeners>
    <sources>    
      <source name="AWSSDK">
        <listeners>          
          <add name="console"/>
        </listeners>
      </source>
      <source name="Amazon">
        <listeners>          
          <add name="console"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>