<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="NUnit" version="3.0.0-beta-2" targetFramework="net45" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="net45" />
  <package id="PCLStorage" version="1.0.2" targetFramework="net45" />
  <package id="Validation" version="2.0.6.15003" targetFramework="net45" />
</packages>