<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="portable-net40+sl50+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Validation" version="2.0.6.15003" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
<#  
    if(((string)this.Session["AssemblyName"]).Equals("AWSSDK.MobileAnalytics",StringComparison.CurrentCultureIgnoreCase)
        || ((string)this.Session["AssemblyName"]).Equals("AWSSDK.CognitoSync",StringComparison.CurrentCultureIgnoreCase))
    {
#>
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="System.Data.SQLite" version="1.0.97.0" targetFramework="net35" />
  <package id="System.Data.SQLite.Core" version="1.0.97.0" targetFramework="net35" />
  <package id="System.Data.SQLite.Linq" version="1.0.97.0" targetFramework="net35" />
  <package id="System.Data.SQLite.EF6" version="1.0.97.0" targetFramework="net35" />
  <package id="System.Data.SQLite" version="1.0.97.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.97.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.97.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.97.0" targetFramework="net45" />
<#
    }
#>
</packages>