<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.0.0.0-preview" targetFramework="win81" />
  <package id="AWSSDK.S3" version="3.0.0.0-preview" targetFramework="win81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="win81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="win81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="win81" />
  <package id="NUnit" version="3.0.0-beta-2" targetFramework="win81" />
</packages>