<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core" />
  </configSections>
  <appSettings>
    <add key="AWSRegion" value="us-east-1" />
    <add key="AWSProfileName" value="default" />
    <add key="AWSLogging" value="SystemDiagnostics" />
    <add key="AWSResponseLogging" value="OnError" />
    <add key="AWSLogMetrics" value="true" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="Amazon">
        <listeners>
          <!--<add name="text" type="System.Diagnostics.TextWriterTraceListener" initializeData="tests-35-log.txt" />-->
          <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime"/>-->
          <add name="console" type="AWSSDK_DotNet.IntegrationTests.Utils.ConsoleTraceListener, AWSSDK.IntegrationTests.Net35"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <aws correctForClockSkew="true" applicationName="SyncManagerIntegrationTests">
    <dynamoDB conversionSchema="V1">
      <dynamoDBContext>
        <tableAliases>
          <alias fromTable="FakeTable" toTable="HashRangeTable" />
        </tableAliases>
        <mappings>
          <map type="AWSSDK_DotNet.IntegrationTests.Tests.DynamoDB.DynamoDBTests+Employee, AWSSDK.IntegrationTests.Net35" targetTable="HashRangeTable">
            <property name="ManagerName" attribute="Manager" />
            <property name="CompanyName" attribute="Company" />
            <property name="InternalId" ignore="true" />
            <property name="CurrentStatus" attribute="Status" converter="AWSSDK_DotNet.IntegrationTests.Tests.DynamoDB.DynamoDBTests+StatusConverter, AWSSDK.IntegrationTests.Net35" />
          </map>
          <map type="AWSSDK_DotNet.IntegrationTests.Tests.DynamoDB.DynamoDBTests+VersionedEmployee, AWSSDK.IntegrationTests.Net35" targetTable="FakeTable">
            <property name="Version" version="true" />
          </map>
          <map type="AWSSDK_DotNet.IntegrationTests.Tests.DynamoDB.DynamoDBTests+Employee2, AWSSDK.IntegrationTests.Net35" targetTable="HashRangeTable" />
          <map type="AWSSDK_DotNet.IntegrationTests.Tests.DynamoDB.DynamoDBTests+Employee3, AWSSDK.IntegrationTests.Net35" targetTable="HashRangeTable" />
        </mappings>
      </dynamoDBContext>
    </dynamoDB>
  </aws>
</configuration>