<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp81" />
  <package id="NUnit" version="3.0.0-beta-2" targetFramework="wp81" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="wp81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="wp81" />
  <package id="Validation" version="2.0.6.15003" targetFramework="wp81" />
</packages>